/* medium (>= 768px) */
/* smaller than medium */
@media (max-width: 767px) {
    /* BEGIN SEARCH */
    #searchModal-toggler {
        display: flex !important;
    }

    #navbarSeachForm {
        display: none !important;
    }
    /* END SEACH */

    /* BEGIN NAVBAR */
    .navbar .navbar-brand {
        font-size: min(1.25rem, 4vw) !important;
    }
    /* END NAVBAR */

    #topic-input {
        margin-top: 1em;
    }
}
/* medium and bigger */
@media (min-width: 768px) {
    /* BEGIN SEARCH */
    #searchModal-toggler {
        display: none !important;
    }
    /* END SEACH */
}
/* small and smaller */
@media (max-width: 576px) {
    .auth-form-container {
        border-radius: 0 !important;
    }
}

/* BEGIN FEATURETTE */
.featurette-divider {
    /* Space out the Bootstrap <hr> more
    less <hr> spacing in smaller screens */
    margin: min(5rem, 5vw) 0 !important;
}
/* END FEATURETTE */

/* BEGIN NOTIFICATIONS */
@media (min-width: 25em) {
    #toast-container {
        transform: translateX(-25em);
        left: 100% !important;
    }
}
/* END NOTIFICATIONS */
