/* large (>= 992px) */
/* smaller than large */
@media (max-width: 992px) {
    .search-filters-form {
        margin-top: 1em;
        justify-content: flex-start;
    }
}
/* larger than large */
@media (min-width: 992px) {
    .search-filters-form {
        justify-content: flex-end;
    }
}

/* medium (>= 768px) */
/* smaller than medium */
@media (max-width: 767px) {
    /* BEGIN SEARCH */
    #searchModal-toggler {
        display: flex !important;
    }

    #navbarSeachForm {
        display: none !important;
    }
    /* END SEACH */

    /* BEGIN NAVBAR */
    .navbar .navbar-brand {
        font-size: min(1.25rem, 4vw) !important;
    }
    /* END NAVBAR */

    #topic-input {
        margin-top: 1em;
    }

    .search-filters-form div {
        display: initial !important;
    }

    #right-col {
        border: none;
    }
}
/* larger than medium  */
@media (min-width: 768px) {
    /* BEGIN SEARCH */
    #searchModal-toggler {
        display: none !important;
    }
    /* END SEACH */

    .search-filters-form div {
        display: flex !important;
        justify-content: center;
        align-items: center !important;
        gap: 0.5rem !important;
    }

    #right-col {
        border-right: 1px solid #dee2e6;
    }
}

/* smaller than small */
@media (max-width: 575px) {
    .auth-form-container {
        border-radius: 0 !important;
    }
}
/* larger than small */
@media (min-width: 576px) {
}

/* BEGIN FEATURETTE */
.featurette-divider {
    /* Space out the Bootstrap <hr> more
    less <hr> spacing in smaller screens */
    margin: min(5rem, 5vw) 0 !important;
}
/* END FEATURETTE */

/* BEGIN NOTIFICATIONS */
@media (min-width: 25em) {
    #toast-container {
        transform: translateX(-25em);
        left: 100% !important;
    }
}
/* END NOTIFICATIONS */
