/* BEGIN ADMIN ACCORDION */
.accordion-button.collapsed {
  background-color: #171717;
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: #375a7f;
  font-weight: bold;
}
/* END ADMIN ACCORDION */
